<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930692255546-kq6efvh95pg46mt72et2rk10r8vcbch9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930692255546-kq6efvh95pg46mt72et2rk10r8vcbch9</string>
	<key>API_KEY</key>
	<string>AIzaSyB3pzC7FMJS0CnP3SfVNf0CWDsiGdR4C7E</string>
	<key>GCM_SENDER_ID</key>
	<string>930692255546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denists.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-yandex</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-yandex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930692255546:ios:94541867a57213d8dc0a03</string>
</dict>
</plist>